{% extends 'base.html.twig' %}
{% block content %}
    <div class="content-404 text-center">
        <div class="row column">
            <h1>404 page not found</h1>
        </div>
    </div>
{% endblock %}